---
import Layout from "~/layouts/Layout.astro";

---
<Layout>
    <main class="p-4">
        <pre class="m-0 text-left"><code>Recount

―――――

Your agents are working.
Your team is working.
Soon, you’ll know when.

―――――

- [App](<a href="https://app.recount.dev">https://app.recount.dev</a>)</code></pre>
    </main>
</Layout>
