---
import Layout from "~/layouts/Layout.astro";

---
<Layout>
    <main class="p-4">
        <pre class="m-0">
            <code>
                Recount

                ―――――

                Your agents are working.
                Your team is working.
                Soon, you’ll know when.
            </code>
        </pre>
    </main>
</Layout>
