---
import Layout from "~/layouts/Layout.astro";
import { JoinWaitlistForm } from "~/components/join-waitlist-form";

---
<Layout>
    <main class="p-4">
        <pre class="m-0 text-left"><code>Recount

―――――

Your agents are working.
Your team is working.
Soon, you’ll know when.
        <JoinWaitlistForm client:load />
    </main>
</Layout>
